<svg width="480" height="133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="480" height="133">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            {{currentRank}}
             {{pastRank}}
              {{rankProgression}}
               {{rankPoints}}
                {{map}}
                    {{name}}

        </div>
    </foreignObject>
</svg>